<svg [attr.height]="(radius * 2) + 4" [attr.width]="radius*2 + 4">
  <circle [attr.cx]="radius + 2" fill="black" [attr.cy]="radius + 2" [attr.r]="radius" stroke="white" stroke-width="2" />
  <circle [attr.cx]="radius + 2" fill="#222" [attr.cy]="radius + 2" [attr.r]="radius / 2" />
  <line *ngFor="let segment of minorSegments" [attr.x1]="segment.x1" [attr.x2]="segment.x2" [attr.y1]="segment.y1"
  [attr.y2]="segment.y2" stroke="gray" stroke-width="2" />
  <line *ngFor="let segment of segments" [attr.x1]="segment.x1" [attr.x2]="segment.x2" [attr.y1]="segment.y1"
    [attr.y2]="segment.y2" stroke="white" stroke-width="3" />
  <text *ngFor="let segment of segments" [attr.x]="segment.labelX" [attr.y]="segment.labelY" dominant-baseline="middle"
     font-weight="bold" font-size="20" text-anchor="middle" fill="white">{{segment.label}}</text>

  <text fill="white" dominant-baseline="middle" text-anchor="middle" [attr.x]="radius"
    [attr.y]="radius/1.5">{{label}}</text>
    
  <text fill="white" dominant-baseline="middle" text-anchor="middle" [attr.x]="radius"
        [attr.y]="radius * 1.5">{{valueLabel}}</text>

  <path [attr.d]="pointer10KFoot" fill="white" />
  <path [attr.d]="pointer1KFoot" fill="white" />
  <path [attr.d]="pointer100Foot" fill="white" />

  <line [attr.x1]="center" [attr.y1]="center" [attr.x2]="tenKX" [attr.y2]="tenKY" stroke="white" stroke-width="2" />

  <circle [attr.cx]="radius + 2" fill="#333" [attr.cy]="radius + 2" [attr.r]="radius * 0.1" fill="silver" />
  <circle [attr.cx]="radius + 2" fill="#333" [attr.cy]="radius + 2" [attr.r]="radius * 0.04" fill="black" />
</svg>