<div style="color:lightgreen"  >{{aircraftName}}</div>

<app-RadialGauge [start]="0" [degrees]="280" [units]="' mph'" [segment-count]="7" [minor-segment-count]="35" label="IAS" [currentValue]="ias" [max]="700" style="position: absolute;top:80px"></app-RadialGauge>
<app-RadialGauge [start]="0" [degrees]="360" [units]="' deg'" label="HDG" [currentValue]="heading" [max]="360" style="left:400px;position: absolute;top:80px"></app-RadialGauge>
<app-RadialGauge [start]="210" [degrees]="320" [max]="45" [segment-count]="9" [minor-segment-count]="45" [currentValue]="rpmValue" label="RPM" style="position: absolute;top:280px;"></app-RadialGauge>
<app-RadialGauge [start]="260" [degrees]="300" [segment-count]="10" [units]="' in Hg'" [min]="0" [max]="70" [radius]="100" label="Manifold" [currentValue]="manifoldPressure" 
  style="position: absolute;left: 200px; top:280px"></app-RadialGauge>

<span stye="position:absolute;top 500px; left:200px;color:white">Fuel</span>
<app-RadialGauge [segment-count]="4" [start]="245" [degrees]="230" [max]="92" [units]="' gal'" [radius]="60" label="Left" [currentValue]="fuelLeft" style="position: absolute;left: 20px; top:520px"></app-RadialGauge>
<app-RadialGauge [segment-count]="4" [start]="245" [degrees]="230" [max]="92" [units]="' gal'" [radius]="60" label="Right" [currentValue]="fuelRight" style="position: absolute;left: 240px; top:520px"></app-RadialGauge>

<app-Altimeter style="position: absolute;left:200px; top:80px" [minor-segment-count]="50" [units]="' ft'" label="Alt" [currentValue]="23450"></app-Altimeter>

<button (mousedown)="startAction('SAFE_LND_GEAR_LT_TEST')" (mouseup)="endAction('SAFE_LND_GEAR_LT_TEST')" >Safe Test</button>
<button (mousedown)="startAction('UNSAFE_LND_GEAR_LT_TEST')" (mouseup)="endAction('UNSAFE_LND_GEAR_LT_TEST')" >Un Safe Test</button>
<button (mousedown)="startAction('PRIMER')" (mouseup)="endAction('PRIMER')" >Prime</button>
<button (mousedown)="startAction('STARTER')" (mouseup)="endAction('STARTER')" >Start</button>

<button (click)="toggleBat()">Battery</button>
<button (click)="toggleGenerator()">Generator</button>

<div>
  Fuel Valve
</div>
<div>
  <button (click)="setValue('FUEL_SELECTOR_VALVE',0)">Off</button>
  <button (click)="setValue('FUEL_SELECTOR_VALVE',1)">Left</button>
  <button (click)="setValue('FUEL_SELECTOR_VALVE',2)">Fuselage</button>
  <button (click)="setValue('FUEL_SELECTOR_VALVE',3)">Right</button>
</div>


<div style="position: absolute;top:100px; left:800px">
  <div *ngFor="let listener of listeners">
    <span style="color: lightgreen">{{listener.device.description}}- {{listener.device.currentValue}}</span>
  </div>
</div>